.a,
.b,
.c,
.d {
  padding: 5px;
}

body {
  background-color: cadetblue;
}

.form {
  border: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 250px;
}

form input {
  display: inline-block;
}

form {}
